body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}
td, th {
    border: 1px solid black;
    padding: 4px;
    background-color: wheat;
    text-align: center;
    font-style: unset;
    font-family: Verdana, serif;
    font-size: 20px;
}

.background{
    background-image: url('../images/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-style: oblique;
    font-size: xxx-large;
    color: black;
    padding: 40px;
}

h2.menu{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}

a.menu{
    font-size: 25px;
}

a.menu:link { color: blue; }

a.menu:visited { color: powderblue; }

a.menu:hover{ color: brown}

p.dane{
    margin-left: 10px;
    font-size: 20px;

}

div.menu{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

img.grid{
    padding: 15px;

}

li.gatunek{
    margin: 5px ;
}

ul.gatunek{
    margin: 10px ;
    font-size: large;
    font-family: Verdana, serif;
    font-style: italic;
    color: black;
}

#left_div{
    float: left;
    min-height: 80%;
    width: 16%;
    height: available;
    margin-left: 130px;
}

#center_div{
    float: left;
    width: 30%;
    margin-left: 100px;
    min-height: 80%;
    height: available;
    font-size: 17px;
}

#right_div{
    float: right;
    width: 30%;
    height: available;
    min-height: 80%;
    margin-right: 150px;
}
